.content
  flex-direction: row
  gap: 1rem
  padding: 1rem
  justify-content: space-between
  align-items: center
  background-color: #f1f1f111
  border: #f1f1f122 solid 3px
  border-radius: 1rem
  width: 100%
  cursor: pointer

.fullTestAction
  flex-direction: row
  align-items: center
  gap: 1rem

  & > svg
    width: 2rem !important
    height: 2rem !important

