.infoHeader {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.infoHeader--title {
    color: #f1f1f188
}

.connect {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 12px;
}

.connectedIcon {
    width: 24px;
    height: 24px;
    color: green;
    margin-right: 12px
}

@media (max-width: 480px) {
    .infoHeader {
        flex-wrap: wrap;
    }
}
