.content
  flex-direction: column
  width: 100%
  padding: 2rem
  gap: 2rem

.button
  font-size: 1.25rem
  font-weight: 500
  padding: 0.5rem 1.5rem
  border-radius: 2rem
  border: none
  cursor: pointer
  max-height: 40px

.input
  background-color: #000000
  color: white
  padding: 1rem
  border-radius: 0.5rem
  outline: none
  border: none
  font-size: 1.25rem

.card
  background-color: #f1f1f122
  border: #f1f1f144 solid 2px
  border-radius: 2rem
  gap: 1rem
  padding: 2rem
  max-width: 640px

.row
  display: flex
  flex-direction: row
  align-items: center
  gap: 1rem
  width: 100%

.signaturesList
  gap: 1rem

.signatureItem
  display: flex
  flex-direction: row
  align-items: center
  font-size: 14px
  border: #f1f1f188 solid 2px
  padding: 1rem
  border-radius: 1rem

  p
    font-size: 1.25rem

  .copyButton
    display: inline-flex
    align-items: center
    background-color: #f1f1f1
    color: black
    padding: 0.5rem 1rem
    border-radius: 0.5rem
    border: none
    cursor: pointer
    margin-left: auto
    font-size: 1rem
    gap: 0.5rem

    &:hover
      background-color: #f1f1f188

.addSignature
  display: flex
  padding: 1rem
  border: #f1f1f188 solid 2px
  border-radius: 1rem
  gap: 1rem

  input
    flex: 1
