.card {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white-1);
    flex: 1;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
}

.card:last-of-type {
    margin-bottom: 0;
}

.cardContent {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    margin-top: 1rem;
}

.dropdown {
    margin: 12px 24px 12px 0;
    height: 40px;
    width: 360px;
}

.Dropdown-menu {
    flex-direction: column;
}

.Dropdown-control {
    border-radius: 6px;
    cursor: pointer;
}

.Dropdown-placeholder {
    font-weight: 600;
    font-size: 13pt;
    color: var(--background-color);
}

.labelInput {
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    padding: 1rem 1.5rem;
    background-color: var(--white-12);
    border-radius: 6px;
    width: 100%;
    gap: 1rem;
}

.label {
    font-size: 1.25rem;
    color: #f1f1f188;
}

.input {
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.25rem;
}

.input:hover, .input:active, .input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.input:disabled {
    cursor: not-allowed;
}


.sectionHeader {
    width: 100%;
    font-size: 1.5rem;
}

.Toastify__toast-body {
    flex-direction: row;
}

.Toastify__close-button {
    display: none;
}

.buttonWrapper {
    width: fit-content;
}

.wallet__menu--item {
    flex-direction: row;
    color: black;
}

.walletButton {
    flex-direction: row;
    background-color: var(--white-80);
    color: var(--background-color);
    align-items: center;
    justify-content: center;
    width: 140px;
    padding: 0.5rem 1rem;
    margin-right: 12px;
    border: none;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    transition: 250ms all ease-out;
}

.walletButton:hover {
    opacity: 0.8;
}

.walletButton:last-of-type {
    margin-right: 0;
}
